<!DOCTYPE html>
<html>
<body>
<head>
    <meta charset="utf-8">
    <meta charset="iso-8559-1"/>
    <meta name= "description" content="pagina de enseñanza"/>
    <meta name="keywords" content="html5,javascript,diseño web"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/update.css">
   <title>Categorias</title>
</head>
<header>
    <h1>Teclados Computer</h1>
    <nav>
      <ul>
        <li><a href="/productos">Volver </a></li>
        
        
      </ul>
    </nav>
   </header>
 <h1 id="crear">Agregar Categoria</h1>
 <main class="forms">

<form action="/addcategorias" method="post">

<div class='flex-principal'>

<!------------------------------------------>


<input type="text" autofocus name="nombre" placeholder="Nombre" required="required"/>

<!------------------------------------------>

</div>

<!------------------------------------------->
<div id="cancelar">
	<input type="submit" value="Agregar" id="update">
    
</div>


</form>
</main>
</body>
</html>
