<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>categoriass</title>
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  
</head>
<header>
  <h1>Teclados Computer</h1>
  <nav>
    <ul>
      <li><a href="/productos">Volver </a></li>
      <li><a href="/addCategorias">Agregar Categoria</a></li>
      
    </ul>
  </nav>
 </header>
<body>

  <h1>Categorias </h1>
  <div class="table">
    <table border>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Opciones</th>
          </tr>


          <%for(const categorias of modelo){%>
            <tr>
              <td><%=categorias.id%></td>
              <td><%=categorias.nombre%></td>
              <td class="icon">
            
              <a href="/updateCategoria/<%=categorias.id%>"><img src="/img/update.png" width="30"></a>
              <a href="/eliminarCategoria/<%=categorias.id%>"><img src="/img/eliminar.jpg" width="30"></a>
             </td>
            </tr>
           <%}%>
        </table>
       
  </div>
 
</body>
</html>
