<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
    
   
  <main>
   <h1>Mis Datos Personales</h1>
   <ul>
      <li>Keidys Camacho</li>
      <li>C.i: 31.302.062</li>
      <li>Seccion: 2</li>
      
      
   </ul>
   <div id='botones'>
      <a href='/loginUsers' id='botonProductos'>Clientes</a>
      <a href='/login' id='botonProductos'>Admin</a>
      </div>
  </main>
  
  
   <%- include('footer') -%>
  
</body>