<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola, soy Keidys Camacho. Mi cedula es: 31.302.062. Seccion 2 de programacion III</h1>
    
  </body>
</html>
