body{
background-color: rgb(230, 129, 202);
}
#login{
	width: 400px;
	background: 7px 13px 37px #545;
	padding: 30PX; 
	margin:auto;
	margin-top: 150PX;
	border-radius: 20px;

	color: #ffffff;
	box-shadow: 7px 13px 37px #e2df;
	text-shadow: 0 1px;

}
label{
	font-weight: bold;
	font-size: 30px;
	color:white;
}
h1{
	text-align:center;
	font-weight: unset;
}
form{
	display:flex;
	flex-direction: column;
	
	
}
input{
padding:8px;
border-radius:10px 10px 10px 10px;
}
#iniciar{
	margin-top:10px;
	padding: 7px;
	border-radius:10px 10px 10px 10px;
}
#inicia
